body {
  background: linear-gradient(#53A0FD, #00BCD4); 
  font-family: 'Open Sans';
  color: white !important;
}

#logo {
  margin: 40px;
}

#signout {
  float: right;
  margin: 40px;
  font-size: 20px;
  color: white;
  font-weight: 300;
  margin-top: 55px;
}

input {
  border-bottom: 1px solid white !important;
  font-size: 32px !important;
}

.input-field label {
  color: white;
}

input:focus {
  box-shadow: none;
}

.press-enter {
  font-size: 32px;
  opacity: 0.50;
}

.input-description {
  font-size: 40px;
}