<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/materialize.css">
  <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
  <img id="logo" src="/static/img/logo-white.png">
  <a id="signout" href="/signout">SIGN OUT</a>
  <div class="container">
    <div class="row">
      <div class="input-field col offset-s1 s10">
        <span class="input-description">What&rsquo;s the meeting about?</span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col offset-s1 s10">
        <input id="meeting-name" type="text" class="validate" spellcheck='false' autofocus>
      </div>
    </div>
    <div class="row">
      <div class="input-field col offset-s1 s10">
        <span class="press-enter">Press enter</span>
      </div>
    </div>
  </div>
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.js"></script>
  <script>
  console.log("yo");
  </script>
</body>
</html>